@tailwind base;
@tailwind components;
@tailwind utilities;

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}
body {
  background: linear-gradient(
      calc(var(--border-angle) + 90deg),
      #ff00cc,
      #3333ff,
      #00ffcc,
      #ffcc00,
      #ff00cc
    );
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}